<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-style.css') }}">
</head>
<body>


						<div class="pages_agile_info_w3l">
							<!-- /login -->
							   <div class="over_lay_agile_pages_w3ls">
								    <div class="registration">

												<div class="signin-form profile">
													<h2>Admin Sign in</h2>
													<div class="login-form">
														<form action="{{ url_for('auth.login') }}" method="post" enctype="multipart/form-data">
															<input type="email" name="email" placeholder="E-mail" required>
															<input type="password" name="password" placeholder="Password" required>
															<div class="tp">
																<input type="submit" value="SIGN IN">
															</div>
														</form>

										</div>
						    </div>
						</div>
                         </div>
                       </div>

</body>
</html>